#####standard .git ignore entries#####

## IDE Specific Files ##
org.eclipse.core.resources.prefs
.classpath
.project
.settings
.idea
.externalToolBuilders
maven-eclipse.xml
workspace
.checkstyle
.iml

## Compilation Files ##
*.class
**/target
target
target-ide
MANIFEST.MF