<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>ROBO Usecase</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/dataupload'"> Data Upload </a>
        <a mat-button [routerLink]="'/datamonitor'"> Data Monitor </a>
  
      </div>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/dataupload'"> Data Upload </a>
        <a mat-list-item [routerLink]="'/datamonitor'"> Data Monitor </a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>