<div class="main">
    <div class="center">
        <button style="margin-right: 05px;" (click)="refreshPage()" mat-raised-button color="primary">Refresh</button>
    </div>
    <div class="tabs">

        <mat-tab-group>
            <mat-tab label="Apps">
                Apps
                <div class="appstable">

                    <table mat-table [dataSource]="appsDataSource">

                        <ng-container matColumnDef="namespace">
                            <th mat-header-cell *matHeaderCellDef> NAMESPACE </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.namespace}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> NAME </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ready">
                            <th mat-header-cell *matHeaderCellDef> READY </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.ready}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> STATUS </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="restarts">
                            <th mat-header-cell *matHeaderCellDef> RESTARTS </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.restarts}} </td>
                        </ng-container>

                        <ng-container matColumnDef="age">
                            <th mat-header-cell *matHeaderCellDef> AGE </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.age}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ip">
                            <th mat-header-cell *matHeaderCellDef> IP </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.ip}} </td>
                        </ng-container>

                        <ng-container matColumnDef="node">
                            <th mat-header-cell *matHeaderCellDef> NODE </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.node}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nominatednode">
                            <th mat-header-cell *matHeaderCellDef> NOMINATED NODE </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.nominatednode}} </td>
                        </ng-container>

                        <ng-container matColumnDef="readinessgates">
                            <th mat-header-cell *matHeaderCellDef> READINESS GATES </th>
                            <td mat-cell *matCellDef="let apps"> {{apps.readinessgates}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="appsColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: appsColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                </div>
            </mat-tab>
            <mat-tab label="PVs and PVCs">
                PVs and PVCs
                <div class="pvstable">

                    <table mat-table [dataSource]="pvsDataSource">

                        <ng-container matColumnDef="namespace">
                            <th mat-header-cell *matHeaderCellDef> NAMESPACE </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.namespace}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> NAME </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> STATUS </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="volume">
                            <th mat-header-cell *matHeaderCellDef> VOLUME </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.volume}} </td>
                        </ng-container>

                        <ng-container matColumnDef="capacity">
                            <th mat-header-cell *matHeaderCellDef> CAPACITY </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.capacity}} </td>
                        </ng-container>

                        <ng-container matColumnDef="accessmodes">
                            <th mat-header-cell *matHeaderCellDef> ACCESS MODES </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.accessmodes}} </td>
                        </ng-container>

                        <ng-container matColumnDef="storageclass">
                            <th mat-header-cell *matHeaderCellDef> STORAGE CLASS </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.storageclass}} </td>
                        </ng-container>

                        <ng-container matColumnDef="age">
                            <th mat-header-cell *matHeaderCellDef> AGE </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.age}} </td>
                        </ng-container>

                        <ng-container matColumnDef="volumemode">
                            <th mat-header-cell *matHeaderCellDef> VOLUME NODE </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.volumemode}} </td>
                        </ng-container>

                        <ng-container matColumnDef="readinessgates">
                            <th mat-header-cell *matHeaderCellDef> READINESS GATES </th>
                            <td mat-cell *matCellDef="let pvs"> {{pvs.readinessgates}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="pvsColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: pvsColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                </div>
                <div class="center">
                    <button style="margin-right: 05px;" (click)="simulateDisaster()" mat-raised-button color="primary">Disaster</button>
                </div>
            </mat-tab>
            <mat-tab label="Backups">
                Backups
                <div class="backupstable">

                    <table mat-table [dataSource]="backupsDataSource">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> NAME </th>
                            <td mat-cell *matCellDef="let backups"> {{backups.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> STATUS </th>
                            <td mat-cell *matCellDef="let backups"> {{backups.status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="errors">
                            <th mat-header-cell *matHeaderCellDef> ERRORS </th>
                            <td mat-cell *matCellDef="let backups"> {{backups.errors}} </td>
                        </ng-container>

                        <ng-container matColumnDef="warnings">
                            <th mat-header-cell *matHeaderCellDef> WARNINGS </th>
                            <td mat-cell *matCellDef="let backups"> {{backups.warnings}} </td>
                        </ng-container>

                        <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef> CREATED </th>
                            <td mat-cell *matCellDef="let backups"> {{backups.created}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="backupsColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: backupsColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                </div>
                <div class="backup-det">

                    <div style="padding-top:10px; padding-left: 20px">
                        <mat-label>Backup Name</mat-label>
                        <mat-form-field appearance="fill">
                            <mat-label>Backup Name</mat-label>
                            <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedBackupName">
                        </mat-form-field>
                    </div>
                    <div style="padding-left: 20px">
                        <mat-label >Namespace.. </mat-label>
                        <mat-form-field appearance="fill">
                            <mat-label>Namespace</mat-label>
                
                            <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedNamespace">
                           
                        </mat-form-field>
                    </div>
                    <div class="center">
                        <button style="margin-right: 05px;" (click)="postBackup()" mat-raised-button color="primary">Backup</button>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Restores">
                Restores 
                <div class="restorestable">

                    <table mat-table [dataSource]="restoresDataSource">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> NAME </th>
                            <td mat-cell *matCellDef="let restores"> {{restores.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="backup">
                            <th mat-header-cell *matHeaderCellDef> BACKUP </th>
                            <td mat-cell *matCellDef="let restores"> {{restores.backup}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> STATUS </th>
                            <td mat-cell *matCellDef="let restores"> {{restores.status}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="restoresColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: restoresColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <div class="restore-det">
                        <div style="padding-left: 20px;">
                            <mat-label>Restore Name</mat-label>
                            <mat-form-field appearance="fill">
                                <mat-label>Restore Name</mat-label>
                                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedRestoreName">
                            </mat-form-field>
                        </div>
                        <div style="padding-left: 20px;">
                            <mat-label>Backup Name</mat-label>
                            <mat-form-field appearance="fill">
                                <mat-label>Backup Name</mat-label>
                                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedBackupname">
                            </mat-form-field>
                        </div>
                        <div class="center">
                            <button style="margin-right: 05px;" (click)="restore()" mat-raised-button color="primary">Restore</button>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>