.main {
    .center{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tabs{
        padding-top: 10px;
        .appstable {

        }
        .pvstable {

        }
        .center{
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .backup-det {
            .center{
                padding-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .restore-det {
            .center{
                padding-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

table{
    width: 100%;
}