<div class="maindiv">

  <div class="centerdiv">

    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Camera Video upload
            </mat-panel-title>
            <mat-panel-description>
              Please upload the required details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Camera Upload Video</p>

          <div class="mp4-upload">
            <form [formGroup]="videoUploadForm" (ngSubmit)="onSubmit()">
              <div>
                <img [src]="url" *ngIf="format==='image' && url" height="200"> <br />
                <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video> <br />
                <input type="file" name="video" (change)="onFileSelect($event)" />
              </div>
              <div class="center-button">
                <button mat-raised-button color="primary" type="submit">Upload</button>
              </div>
            </form>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div style="padding-top:10px;">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Input Stream and location
            </mat-panel-title>
            <mat-panel-description>
              Please upload the required details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <form [formGroup]="cameraDetailsForm" (ngSubmit)="cameraDetailsSubmit()">

              <div>
                <div>
                  <mat-label style="padding-right: 20px;">Provide Video Details.....</mat-label>
                  
                </div>
                <div>
                  <mat-label style="padding-right: 20px;">Camera Input Stream.....</mat-label>
                  <mat-form-field appearance="fill">
                    <mat-label>Select Camera Input</mat-label>
              
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCamera">

                  </mat-form-field>
                </div>
                <div>
                  <mat-label style="padding-right: 20px;">Select Camera Location </mat-label>
                  <mat-form-field appearance="fill">
                    <mat-label>Camera Location</mat-label>

                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedLocation">
                    <!-- <mat-select>
                      <mat-option *ngFor="let loc of location" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="selectedLocation" [value]="loc.value">
                        {{selectedLocation}}</mat-option>
                    </mat-select> -->
                  </mat-form-field>
                </div>

                <div>
                  <mat-label style="padding-right: 20px;">Provide RTSP URL....... </mat-label>
                  <mat-form-field appearance="fill">
                    <mat-label>RTSP URL</mat-label>
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedRTSP">
                  </mat-form-field>
                </div>
              </div>

              <div style="display:flex; justify-content: center">
                <button mat-raised-button color="primary" type="submit">Camera-Details-Upload</button>
              </div>
            </form>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>

      <div style="padding-top:20px;">
        <mat-card>
          <div class="tablepage">
            <div class="cameratable">

              <table mat-table [dataSource]="cameraDataSource">

                <ng-container matColumnDef="checked">
                  <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                  <mat-cell *matCellDef="let element"> 
                    <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cameraID">
                  <th mat-header-cell *matHeaderCellDef> CAMERA ID </th>
                  <!-- <td></td> -->
                  <td mat-cell *matCellDef="let camera"> {{camera.cameraID}} </td>
                </ng-container>

                <ng-container matColumnDef="cameraLocation">
                  <th mat-header-cell *matHeaderCellDef> CAMERA LOCATION </th>
                  <td mat-cell *matCellDef="let camera"> {{camera.cameraLocation}} </td>
                </ng-container>

                <ng-container matColumnDef="cameraNumber">
                  <th mat-header-cell *matHeaderCellDef> CAMERA NUMBER </th>
                  <td mat-cell *matCellDef="let camera"> {{camera.cameraNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="rtspUrl">
                  <th mat-header-cell *matHeaderCellDef> RTSP URL </th>
                  <td mat-cell *matCellDef="let camera"> {{camera.rtspUrl}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="cameraColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: cameraColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              <div style="padding: 20px">
              <mat-select placeholder="Select Camera values to send" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCameraID"
                (ngModelChange)="onCameraIDSelection()">
                <mat-option *ngFor="let camera of selectedCameraId" [value]="camera">
                  {{ camera }}
                </mat-option>
              </mat-select>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
    <div style="padding-top: 20px; display:flex; justify-content: center">
      <button (click)="refreshPage()" mat-raised-button color="primary" type="submit">Refresh</button>
    </div>
  </div>
  
</div>