
.maindiv{

    position: center;
    position: relative;
    .refresh {
        padding-top: 20px;
        display:flex;
        // justify-content: center;
        float: right;
        padding-bottom: 10px;
    }
    .tablepage {
    // padding-top:10px;
    position: relative;
    .filter {
        width: 70%;
        padding-left: 20px;
    }
    .monitortable {
        table {
            width: 100%;
        }
    }

  }

  .image-card {
      padding: 20px;
  }
}